doctype
html
  head
    title 404 Error
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.css' rel='stylesheet')
    link(href='/css/animate.css' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
  body.gray-bg
    .middle-box.text-center.animated.fadeInDown
      h1 404
      h3.font-bold Pagina nu a fost gasita
      .error-desc
        b Pagina pe care o cautati nu a fost gasita. Verificati daca adresa este corecta.
      a(href='/')
        h3 Revino la pagina principala
