extends layout

block content
  div.container
    .row
      a(href='/logout') Logout
      h1 Hello #{user.email}
      div.content.col-md-6.col-md-offset-3
        h1 Curs Valutar BNR
        table.table.table-striped.table-hover
          thead
            tr
              th Nume
              th Valoare
              th Data
          tbody#table-body
        h1 Evolutie Curs
        div.nav-collapse
          .dropdown
            a(data-toggle='dropdown', href='#menu1').btn.btn-default.dropdown-toogle Change View 
              b.caret
            ul.dropdown-menu
              li
                a(href='#')#all All The Stuff
        div.ct-chart.ct-golden-section
        footer
          p by Alex
