extends layout

block custom-stylesheets
  link(rel='stylesheet', href='/css/chartist.min.css')
  link(rel='stylesheet', href='/css/chart.css')

block content
  div.container
    .row
      div.content.col-md-4.col-md-offset-4
        h1 Curs Valutar BNR
        table.table.table-striped.table-hover
          thead
            tr
              th Nume
              th Valoare
              th Data
          tbody
            tr
              td.name1
              td.val1
              td.date
             tr
              td.name2
              td.val2
              td.date
             tr
              td.name3
              td.val3
              td.date
        footer
          h1 Evolutie Curs
          div.ct-chart.ct-golden-section
          p by Alex

block custom-scripts
  script(type="text/javascript" src="/js/chartist.min.js")
  script(type="text/javascript" src="/js/file.js")
