doctype
html
  head
    title #{title} - Wannabe
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/chartist.min.css')
    link(rel='stylesheet', href='/css/chart.css')
  body
    block content
    script(type="text/javascript" src="/js/jquery-1.11.0.min.js")
    script(type="text/javascript" src="/js/chartist.min.js")
    script(type="text/javascript" src="/js/chartist.min.js.map")
    script(type="text/javascript" src="/js/file.js")


