doctype
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/login.css')
  body
    .container
      .row     
        form.form-horizontal(method="post")
          fieldset
            #legend
              legend #{title}
            .error
              p #{err}
            .control-group
              label.control-label Email
              .controls
                input.input-xlarge(type="text", name="email", id="email", placeholder="Email address", autofocus)
                p.help-block Please provide your email
            .control-group
              label.control-label Password
              .controls
                input.input-xlarge(type="password", name="password", id="password", placeholder="Password", autofocus)
                p.help-block Password should be at least 4 character
            .control-group
              .controls
                button.btn.btn-success Register
                a(href='/login').btn.btn-primary Login
            