body
  font-size 14px
  .container
    margin 6rem auto
    .row
      .content
        h1
          text-transform uppercase
          letter-spacing 3px
          text-align center
        .error
          text-align center
          text-transform uppercase
          font-weight bold
          color red
          margin-top 1rem
        form
          .profile-img 
            width 9rem
            height 9rem
            margin 0 auto 2rem auto 
            display block
            -moz-border-radius 50%
            -webkit-border-radius 50%
            border-radius 50%
          .centered
            text-align center
          .btn-lg
            width 15rem
          .panel-footer 
            padding 1px 1rem
            color #A0A0A0
            text-decoration none
            text-align right
                      
                   